body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	cursor: pointer;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav ul li img {
    height: 20px;
}

nav li a {
	text-decoration: none;
	color: black;
    font-weight: bold;
}

nav li a:hover {
	color: #B1663C;
}

li:hover {
	color: #B1663C;
}

main {
    margin-top: 100px;
}

#log-in {
    margin-top: 10px;
	width: 50%;
    margin: auto;
}

#log-in > * {
	text-align: center;
}

#log-in h2{
	margin-bottom: 20px;
}

#log-in form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#log-in input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#log-in label {
	margin: 2em 0 1em 0;
}

#log-in textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
    cursor: pointer;
}

#log-in a {
    text-align: center;
    font-family: 'Work Sans';
    color: #3D3D3D;
}

footer {
    height: 60px;
    background-color: white;
    margin-top: 205px;
    display: flex;
	justify-content: flex-end;
    align-items: center;
}
