/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	margin-top: 70px;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

.no-scroll {
	overflow: hidden;
}

.edit {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	height: 60px;
	background-color: black;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	cursor: pointer;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav ul li img {
	height: 20px;
}

nav li a {
	text-decoration: none;
	color: black;
}

nav li a:hover {
	color: #B1663C;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.edit-projets {
	display: flex;
	align-items: baseline;
	margin-left: calc(50% - 85px);
}

p {
	display: flex;
	margin-left: 10px;
}

p a {
	text-decoration: none;
	color: black;
}

/************** MODALE GALERIES PHOTO ********************/

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	cursor: pointer;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 590px;
	height: 650px;
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	display: none;
}

.modal-close #arrow-left {
	width: 21px;
	height: 21px;
	cursor: pointer;
}

.modal-close #close {
	width: 24px;
	height: 24px;
	cursor: pointer;
	position: absolute;
	margin-left: 90%;
}

.modal-close {
	display: flex;
}

.modal-header h3 {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 26px;
}

.add-works {
	margin-left: calc(50% - 210px);
	display: none;
}

.upload-box {
	width: 420px;
	height: 170px;
    background: #E8F1F6;
    border-radius: 3px;
    text-align: center;
    font-family: sans-serif;
}

/******** ON CACHE L'INPUT "FILE" *******/
#photo-upload {
    display: none;
}

/************** BOUTON PERSO ***********/

#picture-svg {
	width: 76px;
	color: #c5d2e2;
	margin-top: 10px;
}

.upload-btn {
	display: flex;
	margin-left: calc(50% - 85px);
	margin-top: 10px;
    background: #c5d2e2;
    padding: 10px 25px;
	width: 120px;
    border-radius: 25px;
    color: #306685;
	font-size: 14px;
	font-family: 'Work Sans';
    cursor: pointer;
}

.file-info {
	display: flex;
	justify-content: center;
    margin-top: 10px;
    font-size: 10px;
	font-family: 'Work Sans';
    color: #444444;
}

.add-works form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 30px;
}

.modal input {
	height: 50px;
	width: 420px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.modal select {
	height: 50px;
	width: 420px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 30px;
	appearance: none;
}

#down-categorie {
	width: 12px;
	position: absolute;
	transform: translate(390px, 160px);
}

.gallery-modal{
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(50% - 210px);
	gap: 10px;
	width: 420px;
}

.modal-figure img {
	width: 75px;
	margin-bottom: 10px;
	cursor: pointer;
}

.modal-body hr {
	width: 420px;
	margin-top: 30px;
}

.modal-footer-btn {
	display: flex;
	justify-content: center;
	border: none;
}

#open-add-works {
	font-size: 14px;
	height: 36px;
	background-color: #1D6154;
}

/**************** CSS BARRE DE FILTRES ******************/

.filtres-container {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 0px 30px;
	margin-bottom: 2em;
}

.filtres-container>* {
	font-family: 'Syne';
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #1D6154;
	border-radius: 30px;
	color: #1D6154;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #FFFEF8;
}

.filtres-container :hover {
	color: white;
	background-color: #1D6154;
}

.tous {
	color: #1D6154;
	background-color: #FFFEF8;
}

.tous:hover {
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
	;
}

footer {
	background-color: white;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	height: 60px;
}